# Ignore Visual Studio 2012 files
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.ide
*.[Ww]hat[Dd]o[Ii][Hh]ave*.txt
*.sln.ide
[Mm]apping[Oo]utput*/
[Bb]in
App_Data*/
[Db]ebug*/
obj/
Backup/
UpgradeLog.htm
[Rr]elease*/
_ReSharper*/
*.DotSettings
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
glob:*.sass~
glob:*.orig
*.backup.*
*.generated.cs
T4MVC.cs
relre:Web/Raven/Plugins/*.*
UpgradeLog*.*
packages/
.nuget/*.old
artifacts/
logs/
*.ncrunch*
